body {
     text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #ffffff;
    line-height: 24px;
}

a { text-decoration: none; 
color: #434455;}
a:hover,
a:focus {color: #4D5AE5;}

button {background-color: #4d5ae5;
color: #ffffff;
cursor: pointer;}
button:hover,
button:focus {color: #4D5AE5;}

ul {list-style-type: none;}

.title {text-align:center;
color: white;
font-size: 56px;
line-height: 60px;}
#studio {background-color: #2e2f42;}

.page-title {text-align:center;
font-size: 36px;
line-height: 40px;}

.section-title {text-align:center; font-size: 20px;}
.section-title:hover,
.section-title:focus {color: #4D5AE5;}
.p {text-align:center;}

.page-title-3 {font-size: 20px;
font-weight: 500;}

p {font-size: 16px;}

.footer {background-color: #2e2f42; color: #ffffff;}
.footer>a {color: #ffffff;}

#contactes {background-color: #F4F4FD;}
li {background-color: #ffffff;}
.nav {font-weight: 500;}
.accent {color: #4D5AE5}
.ws {font-weight: 700;
font-family: Raleway, sans-serif;}