footer {color: #2e2f42;}
#studio {background-color: #2e2f42;}
.title {background-color: #2e2f42;}

.social-links .link:hover {color: #404bbf;}
.social-links .link {color: #434455;}

.page-title {
    text-align: center;}