body {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
}

a { text-decoration: none; 
    color: #434455;}
a:hover,
a:focus {color: #404bbf;}

button {background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    font-size:16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing: 0.04em;}
button:hover,
button:focus {background-color: #404bbf;
    color: #ffffff;}

ul {list-style-type: none;}

.title {text-align:center;
    color: white;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;}

.studio {background-color: #2e2f42;}

.page-title {text-align:center;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;}

.section-title {text-align:center; 
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color: #2e2f42;}
.section-title:hover,
.section-title:focus {color: #4D5AE5;}

.p {text-align:center;}

.page-title-3 {font-size: 20px; 
    color: #2e2f42;
    font-weight: 500; 
    line-height: 1.2; 
    letter-spacing: 0.02em;}

p {font-size: 16px;}

.footer {background-color: #2e2f42; 
    color: #f4f4fd;}

.contactes-color {background-color: #F4F4FD;}
.contactes {background-color: #ffffff;}
.nav {font-weight: 500; 
    color: #2e2f42;
    letter-spacing: 0.02em;}
.accent {color: #4D5AE5}
.ws1 {font-weight: 700; 
    color: #2e2f42;
    font-family: "Raleway", sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 0.03em}
.ws2 {font-weight: 700;
    font-family: "Raleway", sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 0.03em}
.social-links {font-style: normal;
    letter-spacing: 0.02em;}
.section-3 {background-color: #F4F4FD;}